* {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
div#root {
  overflow: hidden;
}
/* header top */
.ticker-wrapper-v {
  display: flex;
  position: relative;
  overflow: hidden;
  background: #003e76;
  height: 36px;
  box-sizing: content-box;
}

.ticker-wrapper-v .heading-c {
  background-color: #ed9532;
  color: #fff;
  padding: 5px 10px;
  flex: 0 0 auto;
  font-weight: bold;
  z-index: 4;
}

.ticker-wrapper-v .heading-c:after {
  content: '';
  position: absolute;
  top: 0;
  border-left: 20px solid #ed9532;
  border-top: 17px solid transparent;
  border-bottom: 15px solid transparent;
}

.news-ticker-v {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  /* z-index: 999; */
  /* background: #003e76; */
  animation: tic-v 25s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 0);
}
.news-ticker-v:hover {
  animation-play-state: paused;

  background-color: #256dac;
}

.news-ticker-v li {
  display: flex;
  width: 100%;
  line-height: 36px;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
}

.news-ticker-v li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

@keyframes tic-v {
  0% {
    margin-top: 0;
  } /* FIRST ITEM */
  20% {
    margin-top: -36px;
  } /* SECOND ITEM */
  40% {
    margin-top: -72px;
  }
  60% {
    margin-top: -108px;
  }
  80% {
    margin-top: -144px;
  }
  100% {
    margin-top: 0;
  } /* BACK TO FIRST */
}
.header-top {
  /* border-bottom: 1px solid #e5e5e5; */
  /* padding: 6px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  background-color: #072948;
}
.header-time {
  background-color: #f1f1f1;
  padding: 5px;
}
.top-right {
  text-align: right;
  /* background-color: #072948; */
}
/* logo */
.logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.h-logo {
  padding: 25px;
}
/* header-mail-and-telp*/
.clear-white {
  padding: 0 !important;
  /* margin: 0 !important; */
}
.text-mail {
  display: inline-grid;
}
.display-mail {
  display: flex;
}

.mail-map {
  align-items: center;
}
.col-md-6.font-type {
  font-family: 'Fira Sans', sans-serif;
}
/* navbar */

.f-size {
  /* padding: 2px 0px; */
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: 500 !important;
}
.h-logo .nav-link {
  padding: 0;
}
#basic-nav-dropdown {
  color: white;
}
.dropdown-menu {
  background: #072948 !important;
  border: none !important;
  border-radius: none !important;
}
.dropdown-menu a:hover {
  background-color: #ed9532 !important;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bg-custom {
  background: #072948;
}
/* dihapus da problem */
/* .sticky-top {
  z-index: 4 !important;
  top: -1px !important;
} */
.dropdown-item {
  font-weight: 600;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
}
/* main conatiner */
.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

/* slides carousel */
.slider-item {
  max-height: 75vmin;
  object-fit: cover;
}
.carousel {
  height: auto;
  min-width: 100%;
}

/* footer */
.main-footer {
  padding-top: 75px;
  padding-bottom: 60px;
}
.bottom-footer {
  background-color: #00129121;
}
.bottom-footer .container {
  /* border-top: 1px solid #e1e1e1; */
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-footer .container .row p,
.bottom-footer .container p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bottom-footer .container {
  text-align: center;
}
.title-footer {
  margin-bottom: 25px;
}
.title-footer h3 {
  font-weight: 600;
}
.background-footer {
  background: #072948 none repeat scroll 0 0;
}
/* horizontal-card sidebar */
.horizontal-card {
  position: relative;
  display: flex;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.horizontal-card img {
  width: 150px;
  object-fit: cover;
}
.horizontal-card-body {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px 0px 0px 0px;
}
.top-right .icon-header {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon-header a {
  color: #fff;
  font-size: 18px;
  margin-right: 15px;
}

.icon-header i {
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  color: white;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.youtube-bg {
  background: #c4302b;
}
.instagram-bg {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
/* popular post */
.has-search .form-control {
  padding-left: 3rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  pointer-events: none;
  color: #fff;
  background-color: #072948;
}
.form-control {
  padding: 0.6em 3.5rem !important;
  border-radius: 0rem !important;
  border: 0.5px solid #ced4da !important;
}
.form-control:focus {
  /* border-color: #5504be !important; */
  box-shadow: 0 0 0 0.1rem #072948 !important;
}
.recent-post-widget {
  margin-top: 45px;
  border: 1px solid #ebebef;
  padding: 25px 0px 0px 0px;
  background-color: #fff;
}
.recent-post-widget .title-widget {
  padding: 0 25px;
  margin-bottom: 25px;
}
.f-title {
  background-color: #eeeeee;
  padding: 15px 0px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.recent-post-widget ul {
  padding: 0;
  border-radius: 2px;
  border: 0;

  position: relative;
  overflow: hidden;
  margin-bottom: 0px !important;
}
.recent-post-widget ul li {
  box-sizing: border-box;
  list-style-type: none;
  background-color: #fff;
  margin: 10px 0px;
  /* padding: 0px 0px 0px 25px !important; */
  min-height: 68px;
  line-height: 1.5rem;
  height: inherit;
  border-bottom: 1px solid #ebebef;
  border-top: 1px solid #ebebef;
  position: relative;
}
.recent-post-widget ul li:hover {
  background-color: #eee;
}
.recent-post-widget ul li a {
  color: #424242;
  text-decoration: none;
}
.recent-post-widget ul li a:hover {
  color: #212121;
}
.recent-post-widget ul li .img-content {
  position: relative;
  transform: scale(1);
}
.recent-post-widget ul li img {
  /* width: 50px; */
  height: 100px;
  /* position: absolute; */
  padding: inherit;
  /* border-radius: 50%; */
  overflow: hidden;
  /* left: 25px; */
  border: 0;
  display: inline-block;
  vertical-align: middle;
}

.recent-post-widget ul li:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
.item-thumbnail {
  display: flex;
}
span.title {
  text-align: justify;
  padding: 0px 15px;
}
/* kategori */
.kategori-list-article:hover {
  color: #0d6efd;
  cursor: pointer;
}

.kategori-list-article-active {
  color: #0d6efd !important;
  cursor: no-drop !important;
  font-weight: 800 !important;
}
.category-widget {
  padding: 0 30px;
  padding-top: 30px;
  border: 1px solid #ebebef;
  padding-bottom: 30px !important;
}

.single-sidebar {
  margin-top: 45px;
  padding: 0 25px;
  padding-top: 25px;
  background-color: #fff;
  /* box-shadow: rgb(0 0 0 / 10%) 0px 1px 10px; */
}
.sidebar .single-sidebar .title {
  margin-bottom: 25px;
}
.list-group-item {
  padding: 0.5rem 0 !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  /* margin-bottom: -1px; */
}
li.list-group-item .me-auto,
.badge {
  cursor: pointer !important;
}
/* latest-news */
.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 0 !important;
}
.card-title {
  font-family: 'Fira Sans', sans-serif;
  /* font-weight: 600 !important; */
}
.text-p {
  --bs-text-opacity: 1;
  color: #888888 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
p.pt-1.pb-4.text-article.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #888888;
  text-align: justify;
  line-height: 1.6rem;
  word-spacing: 0.1em;
}
h3.main-heading {
  margin-bottom: 35px;
  font-weight: 600;
}

h3.main-heading.document-label {
  margin-top: 35px;
}

/* h3.main-heading.document-label.cf {
  content: ''; */
/* display: table; */
/* clear: both;
} */

h3.main-heading span.right {
  float: right;
  text-transform: capitalize;
  background: transparent;
  border: 1px solid #ebebef;
  border-radius: 2px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.8rem;
}
h3.main-heading span.right:hover {
  background-color: #eee;
}
.main-heading::after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 38px;
  height: 2.8px;
  background: #1e88e5;
  margin-left: 8px;
  margin-top: 18px;
  clear: both;
}
/* .card-shadow {
  box-shadow: 12px 0 15px -4px rgba(17, 17, 26, 0.1), -12px 0 8px -4px rgba(17, 17, 26, 0.1);
} */
.card-shadow .read-more {
  text-align: right;
}
.card-shadow .read-more a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.card-size {
  height: 100%;
}
.card-img {
  height: 300px;
  object-fit: cover;
}
/* Banner Header*/
.header-icon {
  padding: 10px;
}
.header-info-wrapper {
  width: calc(100% - 200px);
  display: flex;
  margin: auto;
  /* margin-right: 0px; */
}

.header-info-item {
  float: left;
  width: 80%;
  align-items: center;
  line-height: 1;
  display: flex;
}
.header-info-item span {
  display: block;

  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.info-inner-wrap {
  width: calc(100% - 30px);
  padding-left: 10px;
  text-align: left;
}
.info-inner-wrap span {
  color: #1e88e5;
}
.info-inner-wrap a {
  color: #0f233a;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.01em;
}
@media (min-width: 1219px) {
  .icon-fa {
    width: 48px;
    height: 48px;
    display: block;
    /* background-color: #ed9532; */
    color: #072948;
    border-radius: 40px;
    line-height: 60px;
    text-align: center;
  }
  .header-info-wrapper {
    margin-right: 0px;
  }
}
@media (max-width: 1024px) {
  .icon-fa > svg {
    display: none;
  }
}
@media (max-width: 478px) {
  .header-info-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 385px) {
  .header-info-wrapper {
    width: calc(100% - 194px);
  }
}
@media (max-width: 376px) {
  .header-info-wrapper {
    width: calc(100% - 189px);
  }
}
@media (max-width: 374px) {
  .header-info-wrapper,
  .header-icon {
    display: none;
  }
}

/* Card-Article */
.meta-info a {
  text-decoration: none;
}
.blog-card {
  display: flex;
  flex-direction: column;
  /* margin: 1rem auto; */
  margin: auto;
  box-shadow: 4px 15px 25px -12px rgba(152, 182, 255, 0.4);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  border-radius: 6px;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 30px;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #ffc400;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.15) rotate(3deg);
  transform: scale(1.15) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
}
.blog-card .description h3 {
  line-height: 1.35;
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 1px solid #dadee0;
  text-transform: capitalize;
  padding: 15px;
}

.blog-card .description p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 5px;
  text-transform: capitalize;
}
/* .blog-card .description p:first-letter {
  text-transform: capitalize;
} */
.blog-card .description .read-more {
  left: 0;
  right: 40px;
  text-align: right;
  color: #6324c7;
  border-top: 1px solid #dadee0;
  padding: 15px;
}
.blog-card .description .read-more a {
  font-size: 16px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  text-transform: capitalize;
  text-decoration: none;
}

.blog-card p {
  position: relative;
  margin: 10px 0 0;
}
/* .blog-card p:first-of-type { */
/* margin-top: 1.25rem; */
/* padding: 15px; */
/* } */
.text-article p {
  padding-left: 15px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    min-height: 180px;
  }
  .blog-card .meta {
    flex-basis: 30%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 70%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
    transform: skewX(-3deg);
    content: '';
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/* list news */
.list-news-container {
  width: 100%;
}
.main-content {
  background: #fcfcfc;
  color: #aaaab2;
  border: 0;
}
.list-news {
  list-style: none;
  border: 1px solid #ebebef;
  padding-left: 0rem;
  margin-bottom: 0rem;
  overflow: auto;
  height: 100vmin;
  border-top: 7px solid #072948;
  border-radius: 1% 1% 0 0;
}
.list-news__item {
  padding: 1rem;
  border-bottom: 1px solid #ebebef;
}
.list-news__item:last-child {
  border-bottom: 0;
}
.list-news__item:hover {
  cursor: pointer;
}
li.list-news__item:hover {
  background-color: #eee;
}
.news__title {
  /* font-weight: 600; */
  color: rgb(46, 44, 44);
  font-size: 1.15rem;
  font-family: 'Fira Sans', sans-serif;
}
.news__src {
  font-weight: 300;
  font-size: 14px;
  color: #aaa;
}
p.news__info {
  margin-bottom: 0rem;
}
p.news__info span {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;

  color: #888888 !important;
}
.news__info {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5;
}
.news__info > span {
  margin-right: 2px;
}
.news__cmt::before {
  content: '|';
  margin-right: 5px;
}

/* list daily news */

.cards-daily {
  /* width: calc(100% - 2em); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 0.5em;
  grid-template-areas: 'a a b b' 'a a c c' 'd d d d';
  /* width: 80%; */
}
.card-daily {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;

  font-weight: 400;
}
.card-daily:last-child {
  margin-bottom: 0;
}
.card-daily:before {
  height: 0;
  content: '';
  display: block;
  padding-bottom: 47.36%;
}
.card-daily.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.card-daily:nth-child(1) {
  grid-area: a;
}
.card-daily:nth-child(2) {
  grid-area: b;
}
.card-daily:nth-child(3) {
  grid-area: c;
}
.card-daily:nth-child(4) {
  grid-area: d;
}

.card-daily-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-daily-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-daily-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-daily-label {
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background: #089f8a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  padding: 0.5em;
}
.card-daily-title {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #d6dbeb;
  z-index: 5;
  font-size: 0.8em;
  font-family: 'Fira Sans', sans-serif;
}

.card-daily:nth-child(2) .card-daily-label {
  background: #ef4e7b;
}
.card-daily:nth-child(3) .card-daily-label {
  background: #1098ad;
}
.card-daily:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
ul.daily-news li.daily-news__item:first-child {
  padding: 0px;
  padding-bottom: 12px;
}
ul.daily-news li.daily-news__item:last-child {
  border-bottom: 0;
}
.daily__title {
  font-weight: 600;
  color: rgb(46, 44, 44);
  font-size: 1.15rem;
  font-family: 'Fira Sans', sans-serif;
}
.daily-news-container {
  width: 100%;
}
.daily-content {
  background: #ffffff;
  border: 0;
}
.daily-news {
  list-style: none;
  border: 1px solid #ebebef;
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.daily-news__item {
  padding: 1.25rem;
  border-bottom: 1px solid #ebebef;
}
.daily-news__item a {
  text-decoration: none;
}
.daily__info {
  /* border-bottom: 1px solid #ebebef; */
  margin-bottom: 0rem !important;
}
.daily__info span {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  color: #888888 !important;
}
/* gallery */

[id^='lightbox-'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  /* transition: opacity 450ms ease-in-out; */
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 5;
}
[id^='lightbox-']:target {
  opacity: 1;
  pointer-events: inherit;
}
/* [id^='lightbox-']:target img {
  filter: blur(0);
} */
[id^='lightbox-'] .content {
  max-width: 100%;
  position: relative;
  color: #fff;
}
/* [id^='lightbox-'] .content:hover > a.close {
  opacity: 1;
  transform: scale(1, 1);
} */
[id^='lightbox-'] .content:hover > .title {
  opacity: 1;
  transform: translateY(1px);
}
[id^='lightbox-'] .content:hover > .title::after {
  opacity: 1;
}
[id^='lightbox-'] .content > * {
  transition: all 450ms ease-in-out;
}
[id^='lightbox-'] .title {
  display: block;
  margin: 0;
  padding: 1em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  transform: translateY(5%);
  font-size: 1.5em;
  opacity: 0;
}
[id^='lightbox-'] .title::after {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 350ms ease-in-out 250ms;
  opacity: 0;
  transform-origin: bottom;
  mix-blend-mode: soft-light;
}
[id^='lightbox-'] img {
  min-height: 80vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  /* filter: blur(50px); */
  object-fit: cover;
}
[id^='lightbox-'] a.close {
  width: 3em;
  height: 3em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(54, 54, 54, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: scale(0, 0); */
  opacity: 1;
  transform-origin: right top;
  text-decoration: none;
  color: #fff;
}
[id^='lightbox-'] a.close::after {
  content: 'X';
}
/* @media (max-width: 376px) {
  [id^='lightbox-'] .title {
    opacity: 1;
  }
  [id^='lightbox-'] .title::after {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transform: translateY(0%);
    bottom: 0px;
  }
  [id^='lightbox-'] .title {
    transform: translateY(0%);
  }
} */
@media (max-width: 415px) {
  [id^='lightbox-'] img {
    min-height: 20vh;
  }
}
/* .img-display {
  object-fit: cover;
}
.modal-body {
  padding: 0rem !important;
} */
/* .parent {
  position: relative;
  float: left;
  width: 22vw;
  height: 18vw;
  overflow: hidden;
  border: 0.3em solid rgb(62, 34, 161);
}
.img-child {
  position: relative;
  float: left;

  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  overflow: hidden;
  transform: rotate(5deg) scale(1.2);
}
.img-child:hover {
  transform: scale(1);
} */

/* .text-img {
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(40, 47, 55, 0.8);
  display: block;
  padding: 10% 10%;
  color: white;
  font-weight: 400;
 
}
.text-img:hover {
  display: none !important;
} */
.inner-banner {
  text-align: center;
  padding-top: 105px;
  padding-bottom: 50px;
  background: #000 url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop') center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.inner-banner:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}
.breadcrumb {
  justify-content: center;
}
.inner-banner h3 {
  font-size: 36px;

  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}
.breadcrumb-item a {
  text-decoration: none !important;
}
.heading {
  /* font-size: 4rem;
  font-weight: 400; */
  /* line-height: 1.5; */
  text-align: center;
  padding: 1.5rem 0;
  /* color: #1a1a1a; */
  padding-bottom: 20px;
  margin-top: 1em;
  color: grey;
}
.gallery-filter {
  padding: 40px 0;
}
.gallery-filter h3 {
  text-transform: uppercase;
}
.gallery-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  border-top: 1px solid #e3dfdf;
}
.sec-pad {
  padding: 45px 0;
}
.wrap {
  /* cursor: pointer; */
  /* margin: 50px auto 0 auto; */
  /* width: 100%; */
  /* display: flex; */
  /* align-items: space-around; */
  /* max-width: 1200px; */
  margin: 0 auto;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center; */
  /* display: flex; */
  /* flex-flow: row wrap;
  justify-content: space-between; */
}
.tile {
  /* width: 412px; */
  height: 315px;
  /* margin: 10px; */
  background-color: #072948;
  /* display: inline-block; */
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;

  overflow: hidden;
  color: white;
  /* font-family: 'Roboto'; */
  flex: 1;
}
.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile .text {
  /*   z-index:99; */
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
  width: 100%;
}
.tile h1 {
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.tile:hover {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}
.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}
.dots {
  position: absolute;
  bottom: -30px;
  right: 30px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dots span {
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.dots span:nth-child(1) {
  transition-delay: 0.05s;
}
.dots span:nth-child(2) {
  transition-delay: 0.1s;
}
.dots span:nth-child(3) {
  transition-delay: 0.15s;
}

/* .gallery-size .col-12 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
} */

/* gallery video */
.wrap-videos {
  /* width: 100%; */
  margin: 0 auto;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center; */
}
.tile-videos {
  /* width: 412px; */
  height: 315px;
  /* margin: 10px; */
  background-color: rgba(2, 11, 20, 0.83);
  /* display: inline-block; */
  background-size: cover;
  position: relative;
  cursor: pointer;
  /* transition: all 0.4s ease-in; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: #fff;
  /* font-family: 'Roboto'; */
}
.tile-videos .player-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.tile-videos .text-videos {
  /*   z-index:99; */
  position: absolute;
  padding: 20px;
  height: calc(100% - 60px);
  width: 100%;
}
.tile-videos h1 {
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile-videos .text-videos p {
  font-weight: 300;
  margin: 40px 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  /* transform: translateX(-200px);
  transition-delay: 0.2s; */
  font-size: 12px;
}
.player-wrapper {
  opacity: 0.2;
  position: relative;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.player-wrapper:hover {
  background-color: none;
  opacity: 1;
}
.tile-videos:hover .text-videos {
  display: none;
}

/* Profile Pimimpin */
.bg-profile {
  background-color: rgb(236 237 238/ 45%);
  border-top: 1px solid #ebebef;
  border-bottom: 1px solid #ebebef;
}
.u-valign-middle {
  justify-content: center !important;
  /* padding: 0 30px !important;
  background: #0d6efd; */
  display: flex;
}
.u-valign-middle img {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* object-fit: cover; */
  box-shadow: 4px 15px 25px -12px rgb(152 182 255 / 50%);
}

.rest {
  /* text-align: left;
  padding: 20px 0px;
  background: #f8f9fa; */
  align-self: center;
  text-align: justify;
}

/* Home Gallery */
h3.text-center.fw-bold.cf::after {
  /* justify-content: center; */
  content: '';
  display: table;
  clear: both;
}
span.right {
  float: right;
  text-transform: capitalize;
  background: transparent;
  border: 1px solid #ebebef;
  border-radius: 2px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.8rem;
}
span.right:hover {
  background-color: #eee;
}

a.btn-more {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #072948 !important;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
}
.title-label-left {
  position: relative;
  left: 56px;
}
.h-gallery {
  height: 100px;
  width: 100px;
  background-color: blue;
}
